# School Management System
VUE_APP_API_SCHOOL_URL="http://localhost:8000/api/"

# Real Estate Property Management System
VUE_APP_API_PROPERTY_URL="http://localhost:8080/api/"
VUE_APP_PROPERTY_BASE_URL="http://localhost:8080"
